# Decision Tree

### through Classification

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
x = df[['SepalLengthCm']]     #Independent

In [5]:
y = df[['Species']]   #Dependent

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.4)

In [8]:
from sklearn.tree import DecisionTreeClassifier

In [9]:
dtc = DecisionTreeClassifier()

In [10]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier()

In [11]:
y_pred = dtc.predict(x_test)

In [12]:
from sklearn.metrics import confusion_matrix

In [13]:
confusion_matrix(y_test, y_pred)

array([[18,  2,  0],
       [ 3, 10,  7],
       [ 1,  9, 10]], dtype=int64)

In [15]:
(18+10+10)/(18+2+0+3+10+7+1+9+10)

0.6333333333333333

### through Regression

In [16]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [17]:
x = df[['PetalLengthCm']]    #independent

In [18]:
y = df[['SepalLengthCm']]  #dependent

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [20]:
from sklearn.tree import DecisionTreeRegressor

In [21]:
dtre = DecisionTreeRegressor()

In [22]:
dtre.fit(x_train,y_train)

DecisionTreeRegressor()

In [23]:
y_pred=dtre.predict(x_test)

In [24]:
y_test.head()

     SepalLengthCm
52             6.9
74             6.4
55             5.7
78             6.0
130            7.4

In [25]:
y_pred[0:5]

array([6.075, 6.275, 5.85 , 5.85 , 7.45 ])

In [31]:
from sklearn.metrics import mean_squared_error

In [32]:
mean_squared_error(y_test, y_pred)

0.200270191355504

In [33]:
# from sklearn.metrics import confusion_matrix

In [34]:
# confusion_matrix(y_test, y_pred)